@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}

.orange-color{
  color: orange;
}

.flexible-container{
  display: flex;
  margin-bottom: 150;
}

.half-width{
  width: 50%;
  float: left;
  margin-left: 5%;
}

.half-width img{
  width: 80%;

}

.link-button{
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.top-banner{
  background-image: url("../images/top-banner.png");
  background-repeat: no-repeat;
  
}

/*--------Dream-area-----------*/

.experience-area{
  background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 150px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px grey;
}

#Full-Stack-Web-Developer{
  border-left: 7px solid tomato;
}

#baby-Stack-Web-Developer{
  border-left: 7px solid blue;
}

footer p{
  text-align: center;
}